<ul class="pagination" *ngIf="pages.length > 1">
  <li class="page_item" [ngClass]="{'disable': currentPage === 1}">
    <a (click)="setPage(1)" class="page_link" title="first"> << </a>
  </li>
  <li class="page_item" [ngClass]="{'disable': currentPage === 1}">
    <a (click)="setPage(currentPage - 1)" class="page_link" title="prev"> < </a>
  </li>
  <li class="page_item" *ngFor="let item of pages; let i = index" [ngClass]="{'active': currentPage === (i + 1)}">
    <a (click)="setPage(i+1)" class="page_link">{{i + 1}}</a>
  </li>
  <li class="page_item" [ngClass]="{'disable': currentPage === totalPage}">
    <a (click)="setPage(currentPage + 1)" class="page_link" title="next"> > </a>
  </li>
  <li class="page_item" [ngClass]="{'disable': currentPage === totalPage}">
    <a (click)="setPage(totalPage)" class="page_link" title="last"> >> </a>
  </li>
</ul>
<div class="item_page">
  <p>Показувати на стоінці</p>
  <label>
    <select (change)="changeItemInPage($event)">
<!--      <option *ngFor="let item of itemInPage;"  value="{{item}}" >{{item}}</option>-->
    </select>
  </label>
</div>
