.form_block{
  margin-bottom: 1em;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &--radio{
    justify-content: flex-start;
    color: #170d71;
    .form_box{
      width: auto;
      display: flex;
      align-items: center;
      margin-right: 25px;
      cursor: pointer;
      input{
        width: 1.8em;
        height: 1.8em;
        margin: 0;
        cursor: pointer;
      }
      label{
        margin-left: 10px;
        pointer-events: none;
      }
    }
  }
  &--tel{
    .label_title{
      width: 100%;
    }
  }
  &--w100{
    .form_box{
      width: 100%;
    }
  }
  &--btn{
    width: 18em;
    display: block;
  }
  p{

  }
  input{
    width: 100%;
    border-color: #170d71;
    border-radius: 0.2em;
    height: 3em;
    outline: none;
    padding: 0 0.3em;
    &.ng-invalid{
      border: 1px solid red;
    }
    &.ng-untouched{
      border-color: #170d71;
    }
  }
  textarea{
    width: 100%;
    outline: none;
    border: 1px solid #170d71;
    border-radius: 0.2em;
    resize: none;
    height: 100px;
    padding: 10px;
    text-indent: 0;
  }
}
.form_box{
  width: calc(50% - 25px);
}
.error-title{
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.9em;
  color: red;
}
.btn{
  &[disabled]{
    opacity: 0.7;
    pointer-events: none;
  }
  &:hover{
    background: transparent;
    color: #222222;
  }
}
.label_title{
  color: #170d71;
  font-size: 1.2em;
  margin-bottom: 0.3em;
  display: inline-block;
  font-weight: bolder;
}
.form_box{
  display: block;
  margin-bottom: 0.5em;
  position: relative;
}
.remove_contact{
  width: 1em;
  height: 1em;
  cursor: pointer;
  transition: 0.5s all ease;
  position: absolute;
  right: 0.5em;
  top: calc(50% - 0.5em);
  &:hover{
    transform: rotate(0.5turn);
  }
  .cls-1{
    fill: red;
  }
  svg{
    display: block;
    width: 100%;
  }
}
