.contact_info{
  color: #170d71;
  &__btn{
    width: 15em;
    a{
      display: block;
      &:first-child{
        margin-bottom: 0.5em;
      }
    }
  }
}
.box_img{
  display: block;
  margin-bottom: 1.3em;
  border-color: #170d71;
}
.contact_description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h4{
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .btn{
    margin-bottom: 10px;
  }
  p, a{
    font-size: 1.3em;
  }
}


.contact_description_tel {
  margin-bottom: 0.5em;
  a{
    display: block;
    color: #170d71;
    margin-bottom: 0.3em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.date_born{
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.more_info{
  color: #170d71;
  width: 30em;
  margin-bottom: 25px;
}
