<div class="contact_info contact_id">
  <div class="box_img">
    <img *ngIf="data.image" src="{{data.image}}" alt="">
  </div>
  <div class="contact_description">
    <h4>
      <span class="name">
        {{data.name}}
      </span>
      <span class="surname">
        {{data.lastName}}
      </span>
    </h4>
    <h5 class="date_born">
      <span>
          {{data.date}}
      </span>
    </h5>
    <div class="contact_description_tel">
      <a href="tel:{{item}}" *ngFor="let item of data.contacts">
        {{item}}
      </a>
    </div>
    <p class="more_info">
      {{data.more}}
    </p>
    <a class="btn" routerLink="/add-contacts">

    </a>
  </div>
  <div class="contact_info__btn">
    <a routerLink="/edit-contact/{{id}}">
      <app-plain-button classes="btn--blue">Редагувати контакт</app-plain-button>
    </a>
    <app-plain-button classes="btn--blue">Видалити контакт</app-plain-button>
  </div>
</div>
