.form_block{
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.form_box{
  display: block;
  position: relative;
  &__input{
    position: relative;
    width: 100%;
  }
  input{
    width: 100%;
    border: 1px solid #170d71;
    border-radius: 0.2em;
    height: 3em;
    outline: none;
    padding: 0 10px;
    &[type="date"]{
      &::-webkit-calendar-picker-indicator{
        opacity: 0;
        position: absolute;
        background: transparent;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  textarea{
    width: 100%;
    outline: none;
    border: 1px solid #170d71;
    border-radius: 5px;
    resize: none;
    height: 6em;
    padding: 10px;
    text-indent: 0;
  }
}
:host {
  &.ng-invalid{
    .form_box{
      input{
        border: 1px solid red;
      }
    }
  }
  &.ng-untouched {
    .form_box {
      input {
        border: 1px solid #170d71;
      }
    }
  }
}


.label_title{
  color: #170d71;
  font-size: 1.2em;
  margin-bottom: 0.3em;
  display: inline-block;
  font-weight: bolder;
}
.error-title{
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.9em;
  color: red;
}

