<div class="notebook_nav">
  <h1>Записник</h1>
  <div class="search">
    <input type="search" placeholder="Введіть дані для пошуку" class="input_search">
  </div>
  <div class="btn_block">
    <a class="btn" routerLink="/all-contacts"><span>Всі контакти</span></a>
  </div>
  <div class="btn_block">
    <a class="btn" routerLink="/add-contacts"><span>Добавити контакт</span></a>
  </div>
  <div class="birthday_block" *ngIf="data.length">
    <h4>Дні народження</h4>
    <div class="birthday_container">
      <div class="birthday_box" *ngFor="let item of data">
        <div class="box_img">

        </div>
        <div class="contact_description">
          <h4>
            <span class="name">
              {{item.name}}
            </span>
            <span class="surname">
              {{item.lname}}
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
