.notebook_nav {
  height: 100%;
  text-align: center;
  h1{
    text-align: left;
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 2em;
  }
}
.btn_block {
  margin-bottom: 10px;
  text-align: center;
}
.birthday_block{
  position: absolute;
  bottom: 5em;
  left: 3em;
  right: 3em;
}

.birthday_block--active{
  display: block;
}

.birthday_box{
  border: 1px solid #FFFFFF;
  padding: 0.8em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  .box_img{
    margin-right: 1em;
  }
}
.birthday_box:last-child{
  margin-bottom: 0;
}
.birthday_box .box_img{
  display: block;
  flex-shrink: 0;
}

.birthday_block h4{
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1em;
}
.contact_description{
  h4{
    margin-bottom: 0;
  }
}
.search{
  margin-bottom: 0.8em;
  position: relative;
  &__list{
    position: absolute;
    list-style: none;
    width: 100%;
    top: calc(100% - 0.7em);
    box-shadow: 0 0 0.2em 0 rgba(#000, 0.5);
    border: 1px solid #9d9b9a;
    border-radius: 0.2em;
    left: 0;
    color: #170d71;
    background: #FFFFFF;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
    padding: 0;
    z-index: 1;
  }
  &__item{
    border-bottom: 1px solid #9d9b9a;
    max-width: 100%;
    padding: 0.2em 0.4em;
    cursor: pointer;
    font-size: 1.3em;
    &:hover{
      background: #f2f2f2;
    }
    &:last-child{
      border-bottom: none;
    }
    &--no_results{
      cursor: auto;
      &:hover{
        background: transparent;
      }
    }
  }
}
