.contact_none {
  color: #ffffff;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  h2{
    color: #170d71;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
  }
  .btn{
    width: 10em;
  }
}

.contact_block{
  //display: flex;
  //align-items: center;
  //flex-wrap: wrap;
}

.search{
  margin-bottom: 1em;
}

.input_search{
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in-out;
  font-size: 1em;
  &:focus{
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.3);
  }
}

app-contact-card{
  display: block;
  margin-bottom: 0.1em;
}

.filter{
  margin-bottom: 2em;
  h3{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #170d71;
  }
  input{
    width: 2em;
    height: 2em;
    cursor: pointer;
  }
}
.filter_block{
  display: flex;
  align-items: center;
}
.filter_box{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 2em;
  color: #170d71;
  &:last-child{
    margin-right: 0;
  }
}
.label_title{
  font-size: 1.2em;
  font-weight: 500;
  pointer-events: none;
  user-select: none;
}
