<div class="contact_none notebook_content" >
  <h2>{{!contactsModel.length ? 'Контактів поки що немає' : 'Контакти'}}</h2>
  <p *ngIf="!contactsModel.length">Скористайтесь кнопкою 'Додати контакт'</p>
</div>

<div class="filter">
  <h3>Групи</h3>
  <div class="filter_block">
    <label class="filter_box">
      <input type="checkbox" (change)="changeQuery($event)" value="Сімя" [checked]="queryParams.hasOwnProperty('group1')" name="1">
      <label class="label_title">Сімя</label>
    </label>
    <label class="filter_box">
      <input type="checkbox" (change)="changeQuery($event)" value="Друзі" [checked]="queryParams.hasOwnProperty('group2')" name="2">
      <label class="label_title">Друзі</label>
    </label>
  </div>
</div>
<div class="contact_block">
  <div class="contact_box contact_id" *ngFor="let item of contactsModel">
    <div class="box_img">
    </div>
    <div class="contact_description">
      <h4>
        <span class="name">
          {{item.name}}
        </span>
        <span class="surname">
          {{item.lastName}}
        </span>
      </h4>
      <a href="tel:{{item.contacts[0]}}">
        +380 {{item.contacts[0]}}
      </a>
    </div>
    <div class="more_contact">
      <span class="more_touch"></span>
      <span class="more_touch"></span>
      <span class="more_touch"></span>
      <div class="contact_nav">
        <a routerLink="/details-contact/{{item.id}}" class="contact_btn contact_btn--show"><span>Переглянути</span></a>
        <a routerLink="/edit-contact/{{item.id}}" class="contact_btn contact_btn--edit"><span>Редагувати</span></a>
        <a class="contact_btn contact_btn--delete" (click)="deleteBlock(item.id)"><span>Видалити</span></a>
      </div>
    </div>
  </div>
</div>
<app-pagination></app-pagination>
