<div class="contact_none notebook_content" >
  <div>
    <h2>{{!contactsModel.length ? 'There\'s no contacts' : 'Contacts'}}</h2>
    <p *ngIf="!contactsModel.length">Скористайтесь кнопкою 'Додати контакт'</p>
  </div>
  <a class="btn" routerLink="/add-contacts">
    <app-plain-button classes="btn--blue">Add Contact</app-plain-button>
  </a>
</div>

<div class="search">
  <input type="search" autocomplete="off" placeholder="Search" class="input_search">
</div>

<!--<div class="filter">-->
<!--  <h3>Групи</h3>-->
<!--  <div class="filter_block">-->
<!--    <label class="filter_box" *ngFor="let item of groupsArrView">-->
<!--      <input type="checkbox" (change)="changeFilter($event)" value="{{item}}">-->
<!--      <label class="label_title">{{item}}</label>-->
<!--    </label>-->
<!--  </div>-->
<!--</div>-->
<div class="contact_block">
<!--  <div class="contact_box contact_id" *ngFor="let user of contactsModel | filter:groupsArr">-->
  <ng-container *ngFor="let user of contactsModelHelp">
    <app-contact-card [user]="user" (newDeleteEvent)="deleteBlock($event)"></app-contact-card>
  </ng-container>
</div>

<app-pagination
  [itemsInPage]="[2, 5, 10]"
  [itemsArr]="contactsModelFilter"
  (changePage)="changePage($event)"
  [point]="false"
></app-pagination>

<app-loader [local]="true" [showLoader]="showLoader"></app-loader>
