<div class="contact_none notebook_content" >
  <h2>{{!data.length ? 'Контактів поки що немає' : 'Контакти'}}</h2>
  <p *ngIf="!data.length">Скористайтесь кнопкою 'Додати контакт'</p>
</div>

<div class="contact_block">
  <div class="contact_box contact_id" *ngFor="let item of data">
    <div class="box_img">
    </div>
    <div class="contact_description">
      <h4>
        <span class="name">
          {{item.name}}
        </span>
        <span class="surname">
          {{item.lname}}
        </span>
      </h4>
      <a href="tel:{{item.contacts[0]}}">
        +380 {{item.contacts[0]}}
      </a>
    </div>
    <div class="more_contact">
      <span class="more_touch"></span>
      <span class="more_touch"></span>
      <span class="more_touch"></span>
      <div class="contact_nav">
        <a routerLink="/details-contact/{{item.id}}" class="contact_btn contact_btn--show"><span>Переглянути</span></a>
        <a routerLink="/edit-contact/{{item.id}}" class="contact_btn contact_btn--edit"><span>Редагувати</span></a>
        <a class="contact_btn contact_btn--delete" (click)="deleteBlock(item.id)"><span>Видалити</span></a>
      </div>
    </div>
  </div>
</div>
