/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  outline: none;
}
input {
  outline: none;
  border: 1px solid #FFFFFF;
  height: 3em;
  padding: 5px;
  transition: 0.2s all ease;
  border-radius: 0.2em;
  width: 100%;
}

img, svg{
  display: block;
  max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input{
  -moz-appearance: textfield;
}


.box_img{
  width: 7em;
  height: 7em;
  border: 2px solid #FFFFFF;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    object-fit: cover;
  }
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  font-size: 8vw;
  color: #ffffff;
}
