/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  outline: none;
}
input {
  outline: none;
  border: 1px solid #f26b08;
  height: 43px;
  padding: 5px;
  transition: 0.2s all ease;
  border-radius: 10px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input{
  -moz-appearance: textfield;
}

.btn {
  border: 1px solid #f26b08;
  background: #f26b08;
  color: #ffffff;
  display: inline-block;
  width: 250px;
  padding: 10px 0;
  text-align: center;
  transition: 0.3s all ease;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  &:hover{
    border: 1px solid #f26b08;
    background: transparent;
    color: #f26b08;
  }
}

.box_img{
  width: 100px;
  height: 100px;
  border: 2px solid #f26b08;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    object-fit: cover;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
